# While Loop

In [3]:
names=["Bilal","Dildar","asad","Kazim"]
for name in names:
    print(name.upper(),end=" ")

BILAL DILDAR ASAD KAZIM

In [5]:
count = 0
while  count<len(names):
    print(names[count].upper())
    count += 1

BILAL
DILDAR
ASAD
KAZIM

In [6]:
count = 0
while  count<len(names):
    print(names[count].upper())
    count += 2

BILAL
ASAD

In [9]:
for a in range(5):
    print(a, "Pyhton")

0 Pyhton
1 Pyhton
2 Pyhton
3 Pyhton
4 Pyhton

In [10]:
for a in range(5):
    print("Pyhton")

Pyhton
Pyhton
Pyhton
Pyhton
Pyhton

In [13]:
count=0
while count<5:
    print(count,"Python")
    count +=1

0 Python
1 Python
2 Python
3 Python
4 Python

In [19]:
count=0
while count<5:
    print("Python")
    count +=3

Python
Python

In [26]:
count=5
while count>0:
    print(count,"Python")
    count -=1

5 Python
4 Python
3 Python
2 Python
1 Python

In [32]:
i = 1
while i < 6:
 print(i,end=" ")
 i += 1

1 2 3 4 5

In [33]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [1]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [2]:
a=0
while a<10:
    
    a+=1 
   
    if a%2==0:
            
        continue
    print(a)

1
3
5
7
9

In [13]:
a=0
while a<20:
    
    a+=1 
   
    if a%2==0:
            
        continue
    print(a)

1
3
5
7
9
11
13
15
17
19

In [22]:
a=0
Even_number=[]
odd_number=[]
while a<20:
    
    a+=1 
   
    if a%2==0:
            Even_number.append(a)
    else:
        odd_number.append(a)
        #continue
print("Even Numbers:",Even_number)    
print("Odd NUmbers: ",odd_number)

Even Numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd NUmbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
while True:
    num = int(input("Enter any number: "))
    if num%7==0:
        print("The number is divisible by 7")
        break
    print(num*2)

Enter any number: 3
6
Enter any number: 4
8
Enter any number: 5
10
Enter any number: 6
12
Enter any number: 7

In [5]:
best_friends=[]
while True:
    best_friend=input("Enter our best friends name: ")
    best_friends.append(best_friend)
    if best_friend=="Ali":
        break
   
   

best_friends

Enter our best friends name: Aamir
Enter our best friends name: Bilal
Enter our best friends name: Kazim
Enter our best friends name: Ali

['Aamir', 'Bilal', 'Kazim', 'Ali']

In [2]:
best_friends=[]
while True:
    best_friend=input("Enter our best friends name: ")
    
    if best_friend=="Ali":
        break
    best_friends.append(best_friend)
   

best_friends

Enter our best friends name: Aamir
Enter our best friends name: Bilal
Enter our best friends name: Kazim
Enter our best friends name: Ali

['Aamir', 'Bilal', 'Kazim']

In [3]:
best_friends=[]
while True:
    best_friend=input("Enter our best friends name: ")
    
    if best_friend=="Ali":
        break
    else:
        best_friends.append(best_friend)
   
        
best_friends

Enter our best friends name: Aamir
Enter our best friends name: Bilal
Enter our best friends name: Kazim
Enter our best friends name: Ali

['Aamir', 'Bilal', 'Kazim']

In [3]:
best_friends=[]
flag=True
while flag:
    best_friend=input("Enter our best friends name: ")
    
    if best_friend=="Ali":
        flag = False
    else:
        best_friends.append(best_friend)
   
        
best_friends

Enter our best friends name: r
Enter our best friends name: t
Enter our best friends name: y
Enter our best friends name: Ali

['r', 't', 'y']

In [31]:
a=[]
while True:
    num=int(input("Enter any number or press '0' to exit "))
    if num==0:
        break
      
    else:
        a.append(num)
        total=sum.(num)
   
print(total)

SyntaxError: invalid syntax (Temp/ipykernel_996/3402044202.py, line 9)

a=0
while True:
    num=int(input("Enter any number or press '0' to exit "))
    if num==0:
        break
      
    else:
        a.append(num)
        total=sum(num)
   
print(total)

In [36]:
a=[]
while True:
    num=int(input("Enter any number or press '0' to exit "))
    if num==0:
        break
      
    else:
        a.append(num)
        total=sum(a)
   
print(total)

Enter any number or press '0' to exit 4
Enter any number or press '0' to exit 5
Enter any number or press '0' to exit 6
Enter any number or press '0' to exit 3
Enter any number or press '0' to exit 0
18

In [37]:
total = 0
while True:
    num=int(input("Enter any number or press 'd' to exit "))
    if num=="d":
        break
    else:
        total+=num
print(total)

Enter any number or press 'd' to exit 5
Enter any number or press 'd' to exit 6
Enter any number or press 'd' to exit 7
Enter any number or press 'd' to exit 8
Enter any number or press 'd' to exit d

ValueError: invalid literal for int() with base 10: 'd'

In [1]:
total = 0
while True:
    num=int(input("Enter any number or press 0 to exit "))
    if num==0:
        break
    else:
        total+=num
print(total)

Enter any number or press 0 to exit 4
Enter any number or press 0 to exit 5
Enter any number or press 0 to exit 6
Enter any number or press 0 to exit 0
15

In [2]:
total = 0
while True:
    num=input("Enter any number or press 'd' to exit: ")
    if num=="d":
        break
    else:
        total+=int(num)
print(total)

Enter any number or press 'd' to exit: 4
Enter any number or press 'd' to exit: 5
Enter any number or press 'd' to exit: 6
Enter any number or press 'd' to exit: 7
Enter any number or press 'd' to exit: 8
Enter any number or press 'd' to exit: d
30

In [6]:
total = 0
fav_num=input("Enter your comma seperated favourite numbers: ").split(',')
for num in fav_num:
    total += int(num)
print(total)

Enter your comma seperated favourite numbers: 2,3,4,5,6,7,8,9
44

In [5]:
total = 0
fav_num=input("Enter your favourite numbers: ").split(' ')
for num in fav_num:
    total += int(num)
print(total)

Enter your favourite numbers: 2 3 4 5 66 77
157

In [10]:
greater_than_10=[]
a=[2,3,4,5,6,7,8]
for i in a:
    for j in a:
        summ = i+j
        if summ>=10:
            greater_than_10.append(summ)

print(greater_than_10)

[10, 10, 11, 10, 11, 12, 10, 11, 12, 13, 10, 11, 12, 13, 14, 10, 11, 12, 13, 14, 15, 10, 11, 12, 13, 14, 15, 16]